@page "{id:int}"
@model GYMPT.Pages.MembershipEditModel
@{
    ViewData["Title"] = "Editar Membresía";
}

<h1>Editar Membresía</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Membership.Id" />

            <div class="form-group">
                <label asp-for="Membership.Name" class="control-label">Nombre</label>
                <input asp-for="Membership.Name" class="form-control" required/>
                <span asp-validation-for="Membership.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membership.Price" class="control-label">Precio (Bs.)</label>
                <input asp-for="Membership.Price" class="form-control" required />
                <span asp-validation-for="Membership.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membership.MonthlySessions" class="control-label">Sesiones al Mes</label>
                <input asp-for="Membership.MonthlySessions" class="form-control" required/>
                <span asp-validation-for="Membership.MonthlySessions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membership.Description" class="control-label">Descripción</label>
                <textarea asp-for="Membership.Description" class="form-control" rows="3" required></textarea>
                <span asp-validation-for="Membership.Description" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a asp-page="/Memberships" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}